@import "tailwindcss";

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

@layer utilities {
    .cursor-custom-left {
      cursor: url('./assets/cursor-left.png'), auto;
    }
    .cursor-custom-right {
      cursor: url('./assets/cursor-right.png'), auto;
    }
  }
  